h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}


.navbar {
	border-radius: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-brand:hover {
	color: #ffffff;
}

footer {
	background: #000000;
	color: #ffffff;
	padding: 20px 0;

}

.separator {
	margin: 40px 0;
}

.smallSeparator {
	margin: 20px 0;
}

.list-group-item.green,
.list-group-item.green:hover,
.list-group-item.green:focus {
	z-index: 2;
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}


